@using System.Diagnostics
@using CatScale.Service.Model.Toilet
@using CatScale.UI.BlazorServer.Services
@inject ICatScaleService CatScaleService

<div class="d-inline-flex align-items-center">
    <div class="me-2 text-nowrap">Poo counter: @_count</div>
    <button class="btn btn-sm btn-primary" @onclick="Refresh"><span class="oi oi-reload" aria-hidden="true"></span></button>
</div>

@code {

    private int _count = -1;
    
    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        try
        {
            var toilet = await CatScaleService.GetToiletDetails(1, ToiletDetails.SinceLastCleaning);
            _count = toilet.Measurements.Count();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}