@using System.Globalization
@using CatScale.UI.BlazorServer.Components
@inherits LayoutComponentBase

<PageTitle>CatScale.UI.BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex justify-content-between">
            <PooCounter/>
            
            <div>
                @CultureInfo.CurrentCulture.Name
                @CultureInfo.CurrentUICulture.Name
            </div>
            
            <AuthenticationBox/>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
