@inherits LayoutComponentBase

<PageTitle>Cathub</PageTitle>

<ModalComponent />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex justify-content-between">
            
            <PooCountsComponent />
            
            @* <div> *@
            @*     @CultureInfo.CurrentCulture.Name *@
            @*     @CultureInfo.CurrentUICulture.Name *@
            @* </div> *@

            <AuthenticationBox/>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
