<style>
    .fa-nav-icon {
        width: 40px;
        text-align: center;
    }
</style>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <i class="fa-nav-icon fa-solid fa-shield-cat fa-xl"></i> Cathub
        </a>
        
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-nav-icon fa-solid fa-house fa-xl"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timeline" Match="NavLinkMatch.Prefix">
                <i class="fa-nav-icon fa-solid fa-timeline fa-xl"></i> Timeline
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="toilets" Match="NavLinkMatch.Prefix">
                <i class="fa-nav-icon fa-solid fa-toilet-paper fa-xl"></i> Toiletten
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cats" Match="NavLinkMatch.Prefix">
                <span class="fa-nav-icon fa-solid fa-cat fa-xl"></span> Katzen
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="food" Match="NavLinkMatch.Prefix">
                <i class="fa-nav-icon fa-solid fa-cookie fa-xl"></i> Futter
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="feeding" Match="NavLinkMatch.Prefix">
                <i class="fa-nav-icon fa-solid fa-cookie-bite fa-xl"></i> Fütterungen
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="settings">
                        <i class="fa-nav-icon fa-solid fa-gear fa-xl"></i> Einstellungen
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="apikeys">
                        <i class="fa-nav-icon fa-solid fa-key fa-xl"></i> Api Keys
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.Prefix">
                <i class="fa-nav-icon fa-solid fa-signal fa-xl"></i> Über
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
