@page "/"

@inject ICatScaleService CatScaleService
@inject NavigationManager NavigationManager
@inject IModalService ModalService

<PageTitle>Index</PageTitle>

<h3>Toilettengeschichten mit Felix und Filou</h3>

<hr />

Statistiken:<br />
<div class="d-inline-flex m-3">
    <EventStatsComponent />
</div>
<br />

Aktuelle Messungen:<br />
<img src="@CatScaleService.GetCatGraphUri(_myUri!, 1)" alt="kaputt"/><br />
<img src="@CatScaleService.GetCatGraphUri(_myUri!, 2)" alt="kaputt"/>

<br />
<button class="btn btn-sm btn-primary" @onclick="Test">Test</button>

@code
{
    private Uri? _myUri;

    protected override void OnInitialized()
    {
        _myUri = new Uri(NavigationManager.Uri);
    }

    private void Test()
    {
        ModalService.ShowMessage("test 123");
    }
}
