@page "/"
@using CatScale.UI.BlazorServer.Services
@using CatScale.UI.BlazorServer.Services.Authentication
@inject IAuthenticationService AuthenticationService
@inject ICatScaleService CatScaleService
@inject NavigationManager NavigationManager

<style>
    .my-image {
        max-width: 100%;
    }
</style>

<PageTitle>Index</PageTitle>

<h3>Toilettengeschichten mit Felix und Filou</h3>

@* <img src="title.png" class="my-image" /> *@

<hr />
Aktuelle Messungen:
<br />
<img src="@CatScaleService.GetCatGraphUri(_myUri!, 1)" alt="kaputt"/>
<img src="@CatScaleService.GetCatGraphUri(_myUri!, 2)" alt="kaputt"/>

@code
{
    private Uri? _myUri;

    protected override void OnInitialized()
    {
        _myUri = new Uri(NavigationManager.Uri);
    }

}
