@page "/"
@using CatScale.UI.BlazorServer.Services
@using CatScale.UI.BlazorServer.Services.Authentication
@inject IAuthenticationService AuthenticationService
@inject ICatScaleService CatScaleService

<style>
    .my-image {
        width: 100%;
        height: auto;
    }
</style>

<PageTitle>Index</PageTitle>

<h1>Toilettengeschichten mit Felix und Filou</h1>

<img src="title.png" />

@code
{
}
