@page "/"

<style>
    .my-image {
        width: 100%;
        height: auto;
    }
</style>


<PageTitle>Index</PageTitle>

<h1>Toilettengeschichten mit Felix und Filou</h1>

<img src="title.jpg" class="my-image" />
