@page "/toilets"

@inject ICatScaleService CatScaleService
@inject NavigationManager NavigationManager

<h3>Toiletten</h3>

@if (_toilets == null)
{
    <p>Loading ...</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Beschreibung</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var toilet in _toilets)
        {
            <tr>
                <td>@toilet.Id</td>
                <td>@toilet.Name</td>
                <td>@toilet.Description</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-sm btn-primary" @onclick="@(() => Open(toilet))">Details</button>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ToiletDto[]? _toilets;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Console.WriteLine("ToiletsList OnInitializedAsync");
            _toilets = await CatScaleService.GetToiletsList();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private void Open(ToiletDto toilet)
    {
        NavigationManager.NavigateTo($"toilets/{toilet.Id}");
    }
}