@page "/toilets"
@using System.Diagnostics
@using CatScale.Service.Model.Toilet
@using CatScale.UI.BlazorServer.Services
@inject ICatScaleService CatScaleService

<h3>Toilets</h3>

@if (_toilets == null)
{
    <p>Loading ...</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var toilet in _toilets)
        {
            <tr>
                <td>@toilet.Id</td>
                <td>@toilet.Name</td>
                <td>@toilet.Description</td>
                <td><a href="toilet/@toilet.Id">Show data</a></td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ToiletDto[]? _toilets;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Debug.WriteLine("ToiletsList OnInitializedAsync");
            _toilets = await CatScaleService.GetToiletsList();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}